In [30]:
#Write a Python program using Pandas to count the number of rows and columns of a DataFrame.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

print(exam_data.count(column))
print(exam.data.count(rows))
print(labels.count(column))
print(labelsdata.count(rows))
print(list.count)

AttributeError: 'dict' object has no attribute 'count'

In [28]:
print(list.count)

<method 'count' of 'list' objects>